.grupo-icon {
 align-items: center;
 gap: 50px;
 flex-wrap: wrap; 
 margin-top: 20px;
 }

  .float-icon {
    animation: float 2s ease-in-out infinite;
    display: inline-block;
  }

  @keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); } /* sobe 10px */
    100% { transform: translateY(0); }
  }
